{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<!-- TOP OF PAGE -->

<div id="page-top"></div>

<!-- CAROUSEL -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide hidden-xs col-md-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src={{ asset('uploads/custom/images/tablette.jpg') }} width="100%">
                <div class="carousel-caption">
                    <h2 class="orange">Online Executive Master in Management</h2>
                    <h3>Une formation interuniversitaire de haut niveau en management</h3>
                </div>
            </div>
            <div class="item">
                <img src={{ asset('uploads/custom/images/tablette.jpg') }}>
                <div class="carousel-caption">
                    <h2 class="orange">Online Executive Master in Management</h2>
                    <h3>Une formation organisée à distance</h3>
                </div>
            </div>
            <div class="item">
                <img src={{ asset('uploads/custom/images/tablette.jpg') }}>
                <div class="carousel-caption">
                    <h2>Une formation proposée conjointement par</h2>
                    <h3>HEC Liège (ULg), Solvay Brussels School of Managment (ULB) & Louvain School of
                    Management (UCL)</h3>
                </div>
            </div>
            <div class="item">
                <img src={{ asset('uploads/custom/images/tablette.jpg') }}>
                <div class="carousel-caption">
                    <h2 class="orange">Online Executive Master in Management</h2>
                    <h3>Une formation couplée à une démarche d'e-accompagnement à l'évolution professionnelle</h3>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="left:15px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="right:15px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</div>

<div class="main container-fluid site-text" style="margin-top: 25px">
    {#<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: lightgreen">#}
        <div class="col-lg-4" style="background-color: white">
            <h2 style="text-align: center" class="section-heading orange">Programme</h2>
            <a href="programme"><img class="img-responsive" src="{{ asset('uploads/custom/images/conseil.jpg') }}" alt="join_us.jpg" style="vertical-align: center"></a>
        </div>
        <div class="col-lg-4" style="background-color: white">
            <h2 class="section-heading orange" style="text-align: center">E-accompagnement</h2>
            <a href="e-accompagnement" title="Cliquez pour obtenir des informations sur l'e-accompagnement"><img class="img-responsive" src="{{ asset('uploads/custom/images/e-accompagnement-2.png') }}" alt="E-accompagnement.png" style="vertical-align: center"></a>
        </div>
        <div class="col-lg-4" style="background-color: white">
            <h2 class="section-heading orange" style="text-align: center">Inscriptions</h2>
            <a href="inscription" title="Cliquez pour obtenir des informations sur l'inscription à la formation"><img class="img-responsive" src="{{ asset('uploads/custom/images/join_us.jpg') }}" alt="join_us.jpg" style="vertical-align: center"></a>
        </div>
    {#</div>#}
</div>
<div class="container-fluid" style="margin-bottom: 30px">
    <div class="row" style="margin: 15px">
        <img src="{{ asset('uploads/custom/images/elearning.jpg') }}" width="100%">
    </div>
    <div class="row">
        <div class="col-md-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Formation organisée par</h2>
        </div>
        <div class="col-md-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Avec le soutien du Fonds social européen</h2>
        </div>
        <div class="col-md-6">
            <div class="clearfix">
                <img src="{{ asset('uploads/custom/images/logo.png') }}" alt="Logo CVG" title="Logo du Campus Virtuel en Gestion">
            </div>
        </div>
        <div class="col-md-6">
            <div class="clearfix">
                <img src="{{ asset('uploads/custom/images/fsefwb.jpg') }}" alt="Logo CVG" title="Logo du Campus Virtuel en Gestion">
            </div>
        </div>
        <div class="col-xs-12">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Proposé en partenariat par</h2>
        </div>
        <div class="col-md-3">
            <div class="clearfix"></div>
            <img src="{{ asset('uploads/custom/images/HEC.jpg') }}" height="150px" alt="Logo HEC" title="Logo de HEC">
        </div>
        <div class="col-md-2">
            <div class="clearfix"></div>
            <img src="{{ asset('uploads/custom/images/lsm.jpg') }}" height="150px"  alt="Logo Solvay" title="Logo de Solvay">
        </div>
        <div class="col-md-7">
            <div class="clearfix"></div>
            <img src="{{ asset('uploads/custom/images/SBS.jpg') }}" height="150px" alt="Logo LSM" title="Logo de Louvain School of Management">
        </div>
    </div>
</div>

        <!-- PIED DE PAGE -->

<div id="scroll-to-top">
    <span>
        <a href="#page-top"><i class="fa fa-arrow-up"></i></a>
    </span>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}