{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<div class="container-fluid site-text">
    <div class="row col-md-offset-1 col-md-10" style="background-color: lightgoldenrodyellow; text-align: center">
        <h2 class="section-heading" style="color: blue">Online Executive Master in Management</h2>
        <p>Une formation interuniversitaire de haut niveau en management</p>
        <p>Organisée à distance</p>
        <p>Proposée conjointement par</p>
        <p><strong>HEC Liège (ULg)</br>
        Solvay Brussels School of Economics and Management (ULB)</strong></br>
        &</br>
        <strong>Louvain School of Management (UCL)</strong></p>
        <p>Couplée à une démarche d’e-accompagnement à l’évolution professionnelle</p>
    </div>
</div>
<div class="container-fluid site-text">
    <div class="row col-md-offset-1 col-md-10" style="background-color: lightgreen">
        <div class="col-lg-3" style="background-color: white; margin: 30px">
            <h2 style="text-align: center" class="section-heading">Programme</h2>
                <p>L’Online Executive Master in Management est un programme de formation à distance en management de 2 ans.<p>
                <p>Il est organisé grâce au soutien du Fonds social européen et est proposé conjointement par:</br>
                <ul>
                    <li>HEC Liège Ecole de gestion de l’Université de Liège</li>
                    <li>Solvay Brussels School of Economics and Management de l’Université Libre de Bruxelles</li>
                    <li>Louvain School of Management de l’Université Catholique de Louvain</li>
                </ul>
                C’est un tout nouveau programme que le Campus Virtuel en Gestion a conçu pour cette nouvelle session de formation : le contenu a été revu, l’organisataion repensée.
                Il vise à développer vos compétences pour être un «Manager de demain», un chef d’orchestre qui se doit de donner la mesure...</p>
                <h3>APPROCHE COMPÉTENCES</h3>
                Les modules qui composent le programme ont été construits autour des compétences clés à développer pour évoluer vers une fonction de middle-management et répondre aux enjeux actuels et futurs qu’elle implique.
                <h3>CONTENU</h3>
                <p>Le programme est composé de 5 modules de 12 crédits ECTS chacun (le cinquième module est un Business Game final), soit un total de 60 crédits ECTS étalés
                    sur 2 années:</p>
                    <ul>
                        <li><strong>Module 1 - Conduire l’entreprise dans un monde en changement</strong>: Elaborer et développer la stratégie dans un contexte marqué par la "turbulence" : imprévisibilité,
                            développement technologique incessant, globalisation, nouvelles "règles du jeu" dans tous les domaines.</li>
                        <li><strong>Module 2 - Piloter le changement et l’innovation</strong>: Répondre aux besoins d’innovation et gérer les dynamiques de changement par une démarche-projet processuelle.</li>
                        <li><strong>Module 3 - Mesurer, analyser et décider pour créer de la valeur</strong>: Créer de la valeur opérationnelle en donnant du sens à la donnée (analysée sous l’angle financier,
                            marketing et logistique).</li>
                        <li><strong>Module 4 - Inspirer, responsabiliser et communiquer</strong>: Développer la capacité du futur manager/leader à susciter l’envie de ses collaborateurs de coopérer en vue
                            de réaliser la(les) mission(s) de l’organisation.</li>
                        <li><strong>Module 5 - Manœuvrer de façon systémique et prospective (Business Game)</strong>: Mobiliser les apprentissages de manière transversale et intégrative au travers d’une
                            immersion virtuelle des participants dans un environnement organisationnel concurrentiel dans lequel ils agissent comme des gestionnaires d’entreprise.</li>
                    </ul>
                <p>Voici un descriptif plus détaillé du <a href="#">programme et du contenu des modules</a>.</p>
        </div>
        <div class="col-lg-4" style="background-color: white; margin: 30px">
            <h2 class="section-heading" style="text-align: center">E-accompagnement</h2>
                <p>En complément aux modules de formation, chaque participant bénéficie d’un accompagnement au développement de carrière et à l’évolution professionnelle, individualisé
                    et online.</p>
                <p>Cette démarche comprend 3 étapes:</p>
                <img class="img-responsive" src="{{ asset('uploads/custom/images/e-accompagnement-2.png') }}" alt="E-accompagnement.png">
                <p>Un <strong>e-assessment</strong> en début de formation :</p>
                    <ul>
                        <li>bilan de compétences</li>
                        <li>aptitudes au management</li>
                        <li>rôles dans une équipe</li>
                    </ul>
                <p>Des <strong>entretiens online</strong> réguliers avec un accompagnateur au cours des 2 ans de formation pour être guidé dans la réflexion sur son projet:</p>
                    <ul>
                        <li>motivations</li>
                        <li>envies</li>
                        <li>forces</li>
                        <li>faiblesses</li>
                        <li>ressources</li>
                        <li>etc</li>
                    </ul>
                <p>Une réflexion sur le <strong>personal branding</strong> en vue de concrétiser son projet professionnel et de valoriser, sur le marché du travail, les compétences développées
                    durant la formation et au travers des expériences professionnelles qui jalonnent sa carrière.</p>
        </div>
        <div class="col-lg-3" style="background-color: white; margin: 30px">
            <h2 class="section-heading" style="text-align: center">Inscriptions</h2>
            <h3>Conditions d’admission</h3>
                <p>L’accès à l’Online Executive Master in Management se fait via un dossier de candidature et une procédure de sélection menée par le Comité Scientifique
                    du programme, composé de professeurs des 3 écoles partenaires.</p>
                <p>Pour pouvoir proposer votre candidature vous devez:</p>
                    <ul>
                        <li>Etre titulaire d’un diplôme universitaire d’une Université belge ou reconnue par l’Etat belge, dans un domaine autre que le management</li>
                        <li>Etre titulaire d’un graduat ou baccalauréat d’une Haute Ecole belge ou reconnue par l’Etat belge, dans un domaine proche du management et pouvoir
                            faire valoir 5 années d’expérience professionnelle pertinente</li>
                        <li>Comprendre l’anglais</li>
                    </ul>
            <h3>Dossier de candidature</h3>
                <p>Pour entrer dans le processus de sélection, il convient de compléter le dossier de candidature. Celui-ci comprend:</p>
                    <ul>
                        <li>Vos données personnelles</li>
                        <li>Votre CV</li>
                        <li>Vos motivations à entamer cette formation e-learning en management</li>
                        <li>Une copie de votre (vos) diplôme(s) ou certificat(s) pertinent(s)</li>
                    </ul>
                <p>Il est à télécharger ci-dessous et doit être envoyé par email au plus tard pour le 15 février 2015 à l’adresse suivante : cvg@campusvirtuel.be.</p>
            <h3>Entretien de sélection</h3>
                <p>Sur la base des dossiers reçus, la responsable scientifique du programme, accompagnée d’un autre membre du
                corps professoral, fixera avec chaque candidat un entretien de motivation par Skype d’environ une heure.</p>
                <p>Les entretiens seront menés entre mi-février et mi-mars. La liste des candidats sélectionnés sera
                communiquée après la mi-mars.</p>
            <h3>Minerval</h3>
                <p>Les droits d’inscription s’élèvent à 6900 euros pour les deux années (conditions FSE : public éligible
                Région Wallonne). Ils comprennent tous les frais liés à la formation à savoir:</p>
                <ul>
                    <li>Accès à la plateforme e-learning</li>
                    <li>Les ressources utiles aux modules</li>
                    <li>L’inscription aux évaluations</li>
                    <li>2 séminaires résidentiels de 2 jours (logement et repas inclus)</li>
                </ul>
            <h3>Récapitulatif des échéances</h3>
                <ul>
                    <li><strong>Fin-février</strong>: Dossier de candidature à envoyer par mail</li>
                    <li><strong>Fin-février à mi-mars</strong>: Entretiens de motivation online</li>
                    <li><strong>Mi-mars 2016</strong>: Diffusion de la liste des candidats sélectionnés</li>
                    <li><strong>15 et 16 avril 2016</strong>: Séminaire résidentiel de lancement</li>
                </ul>
            <h3>RAPPEL</h3>
                <p>A l’issue de votre formation, si vous remplissez toutes les conditions de réussite, vous recevrez un
                    certificat interuniversitaire signé par les recteurs de l’ULB, l’ULg et l’UCL.</br>
                Il s’agit bien d’un certificat et non d’un diplôme de master reconnu par la Communauté Française.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Formation organisée par</h2>
        </div>
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img src="{{ asset('uploads/custom/images/cvg.jpg') }}" alt="Logo CVG" title="Logo du Campus Virtuel en Gestion">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">En partenariat avec</h2>
        </div>
        <div class="col-md-5">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="{{ asset('uploads/custom/images/logo-school-1.png') }}" alt="Logo HEC" title="Logo de HEC">
            <img class="img-responsive" src="{{ asset('uploads/custom/images/logo-school-2.png') }}" alt="Logo Solvay" title="Logo de Solvay">
            <img class="img-responsive" src="{{ asset('uploads/custom/images/logo-school-3.png') }}" alt="Logo LSM" title="Logo de Louvain School of Management">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Avec le soutien de</h2>
        </div>
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="{{ asset('uploads/custom/images/fsefwb.jpg') }}" alt="Logo FSE & FWB" title="Logo du FSE et de la FWB">
        </div>
    </div>
</div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}

{%  block scripts %}
<script type="text/javascript"
    src="{{ asset('uploads/custom/js/jquery.js') }}">
</script>

<script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>

<script type="text/javascript"
    src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
</script>

<script type="text/javascript"
    src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
</script>

<script type="text/javascript"
    src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>

{% endblock %}