{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<!-- TOP OF PAGE -->

<div id="page-top"></div>

    <!-- CAROUSEL -->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide hidden-xs col-md-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('uploads/custom/images/tablette.jpg') }}">
                <div class="carousel-caption">
                    <h1 class="orange">Online Executive Master in Management</h1>
                    <h2>Une formation interuniversitaire de haut niveau en management</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('uploads/custom/images/tablette.jpg') }}">
                <div class="carousel-caption">
                    <h1 class="orange">Online Executive Master in Management</h1>
                    <h2>Une formation organisée à distance</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('uploads/custom/images/tablette.jpg') }}">
                <div class="carousel-caption">
                    <h1>Une formation proposée conjointement par</h1>
                    <h2>HEC Liège (ULg), Solvay Brussels School of Managment (ULB) & Louvain School of
                    Management (UCL)</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('uploads/custom/images/tablette.jpg') }}">
                <div class="carousel-caption">
                    <h1 class="orange">Online Executive Master in Management</h1>
                    <h2>Une formation couplée à une démarche d'e-accompagnement à l'évolution professionnelle</h2>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="left:15px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="right:15px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</div>

<div class="container-fluid site-text" style="margin-top: 50px">
    <div class="row" style="background-color: lightgrey">
        <div class="hidden-xs hidden-sm col-md-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'programme'}) }}"
               title="Cliquez pour obtenir des informations sur le programme">
                <h3 style="text-align: center; padding: 30px" class="orange">Programme</h3>
            </a>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'e-accompagnement'}) }}"
               title="Cliquez pour obtenir des informations sur l'e-accompagnement">
                <h3 style="text-align: center; padding: 30px" class="orange">E-accompagnement</h3>
            </a>
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'conditions'}) }}"
               title="Cliquez pour obtenir des informations sur l'inscription à la formation">
                <h3 style="text-align: center; padding: 30px" class="orange">Inscriptions</h3>
            </a>
        </div>
    </div>
    <div class="row" style="background-color: white">
        <div class="col-xs-12 hidden-md hidden-lg">
            <a href="{{ path('claro_get_content_by_type', {'type': 'programme'}) }}"
               title="Cliquez pour obtenir des informations sur le programme">
                <h3 style="text-align: center; padding: 30px" class="orange">Programme</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'programme'}) }}"
               title="Cliquez pour obtenir des informations sur le programme"><img class="img-responsive" src="{{ asset('uploads/custom/images/learning.jpg') }}" alt="programme.jpg"></a>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <a href="{{ path('claro_get_content_by_type', {'type': 'e-accompagnement'}) }}"
               title="Cliquez pour obtenir des informations sur l'e-accompagnement">
                <h3 style="text-align: center; padding: 30px" class="orange">E-accompagnement</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'e-accompagnement'}) }}"
               title="Cliquez pour obtenir des informations sur l'e-accompagnement"><img class="img-responsive" src="{{ asset('uploads/custom/images/conseil.jpg') }}" alt="conseil.jpg"></a>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <a href="{{ path('claro_get_content_by_type', {'type': 'e-accompagnement'}) }}"
               title="Cliquez pour obtenir des informations sur l'e-accompagnement">
                <h3 style="text-align: center; padding: 30px" class="orange">E-accompagnement</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="{{ path('claro_get_content_by_type', {'type': 'conditions'}) }}"
               title="Cliquez pour obtenir des informations sur l'inscription à la formation"><img class="img-responsive" src="{{ asset('uploads/custom/images/join_us.jpg') }}" alt="join_us.jpg"></a>
        </div>
    </div>
    <div class="row" style="background-color: lightgrey">
        <div class="hidden-xs hidden-sm col-md-12">
            <h3 style="text-align: center; padding: 30px" class="orange"></h3>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin: 50px 20px 30px 20px">
    {#<div class="row" style="margin: 15px">#}
        {#<img src="{{ asset('uploads/custom/images/elearning.jpg') }}" width="100%">#}
    {#</div>#}
    <div class="row" style="margin-top: 50px">
        <div class="col-md-6">
            {#<hr class="section-heading-spacer">#}
            <h4 class="section-heading">Formation organisée par</h4>
            <img src="{{ asset('uploads/custom/images/logo.png') }}" alt="Logo CVG" title="Logo du Campus Virtuel en Gestion">
        </div>
        <div class="col-md-6">
            {#<hr class="section-heading-spacer">#}
            <h4 class="section-heading">Avec le soutien du Fonds social européen</h4>
            <img src="{{ asset('uploads/custom/images/fsefwb.jpg') }}" alt="Logo Fonds social européen" title="Logo du Fonds social européen">
        </div>
        <div class="col-xs-12">
            {#<hr class="section-heading-spacer">#}
            <div class="clearfix"></div>
            <h4 class="section-heading" style="text-align: center">Proposée en partenariat par</h4>
        </div>
        <div class="col-xs-12">
            <p style="text-align: center">
                <img src="{{ asset('uploads/custom/images/HEC.jpg') }}" height="auto" width="30%" alt="Logo HEC" title="Logo de HEC" style="padding-right: 75px">
                <img src="{{ asset('uploads/custom/images/lsm.jpg') }}" height="auto" width="30%" alt="Logo LSM" title="Logo de Louvain School of Management" style="padding-right: 75px">
                <img src="{{ asset('uploads/custom/images/SBS.jpg') }}" height="auto" width="30%" alt="Logo SBS" title="Logo de Solvay">
            </p>
        </div>
    </div>
</div>

        <!-- PIED DE PAGE -->

<div id="scroll-to-top">
    <span>
        <a href="#page-top"><i class="fa fa-arrow-up"></i></a>
    </span>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
    {#<link rel="stylesheet"#}
          {#href="{{ asset('uploads/custom/css/half-slider.css') }}"#}
          {#type="text/css"#}
    {#/>#}
{% endblock %}