{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page" style="padding:15px">
            <div class="container">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Approche par compétences</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="points_forts">Points forts | </a>
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>L’OEMM vise à développer vos compétences pour être un <strong class="mauve">« Manager de demain »</strong>,
            un chef d’orchestre qui se doit de donner la mesure...</p>
        <p>Les modules qui composent le programme ont été construits autour des compétences clés à développer
            pour évoluer vers une fonction avec des responsabilités managériales et pouvoir répondre aux enjeux
            actuels et futurs qu’elle implique.</p>
    </div>

    <!-- PIED DE PAGE -->


    <div id="scroll-to-top">
    <span>
        <i class="fa fa-arrow-up"></i>
    </span>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}