{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="section-id-page" class="container-fluid banner site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Inscription</h2>
                <h3 style="text-align: center">Procédure et candidature</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="conditions">Procédure et candidature | </a>
                    <a href="modalites"> Coût et modalités d'inscription</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <h3 class="orange">Conditions d'admission</h3>
        <p>L’accès à l’Online Executive Master in Management se fait via un <strong class="mauve">dossier de
        candidature</strong> et une procédure de sélection menée par le Comité Scientifique du programme, composé
        de professeurs des 3 Ecoles partenaires.</p>
        <p>Pour pouvoir proposer votre candidature vous devez:</p>
        <ul class="square">
                <li>Etre titulaire d’un diplôme universitaire (Master, Licence) d’une Université belge ou reconnue
                par l’Etat belge, dans un domaine autre que le management</li>
                <li>Etre titulaire d’un graduat ou baccalauréat d’une Haute Ecole belge ou reconnue par l’Etat
                belge, dans un domaine proche du management et pouvoir faire valoir 5 années d’expérience
                professionnelle pertinente</li>
                <li>Comprendre l’anglais</li>
            </ul>
        <h3 class="orange">Dossier de candidature</h3>
        <p>Pour entrer dans le processus de sélection, vous devez compléter le dossier de candidature. Celui-ci
            comprend :</p>
        <ul class="square">
            <li>Vos données personnelles</li>
            <li>Votre CV</li>
            <li>Vos motivations à entamer cette formation à distance en management</li>
            <li>Une copie de votre (vos) diplôme(s) ou certificat(s) pertinent(s)</li>
        </ul>
        <p>Téléchargez ici le dossier de candidature.</p>
        <h3 class="orange">Entretien de sélection</h3>
        <p>Sur base des dossiers reçus, un entretien de motivation est organisé avec chaque candidat. Il est mené
            online par la responsable scientifique du programme et un autre membre du corps professoral. Il dure
            environ 1 heure.</p>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}