{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <!-- TOP OF PAGE -->

    <div id="page-top"></div>

    <div id="section-id-page" class="container-fluid banner site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Contenu</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container site-text" style="padding-top: 30px">
        <ul class="square">
            <li>5 modules de 12 crédits dont un Business Game final</li>
            <li>Un total de <strong>60 crédits</strong></li>
        </ul>
        </br>
        <h3 class="orange">Module « Conduire l’entreprise dans un monde en changement »</h3>
        <p>Elaborer et développer la stratégie dans un contexte marqué par la "turbulence" : imprévisibilité,
            développement technologique incessant, globalisation, nouvelles "règles du jeu" dans tous les domaines.</p>
        <h4>Compétences développées</h4>
            <ul class="square">
                <li>Avoir une capacité d'analyse en contexte changeant</li>
                <li>Développer une vision d'ensemble des situations et des théâtres d'opération stratégiques et
                    comprendre les enjeux</li>
                <li>Pouvoir intégrer des choix stratégiques dans les missions de gouvernance</li>
            </ul>
        <h4>Thématiques abordées</h4>
            <ul class="square">
                <li>Stratégie d’entreprise</li>
                <li>Intelligence stratégique</li>
                <li>CEO Agenda</li>
            </ul>
        <h4>Intervenants</h4>
            <ul class="square">
                <li>Nathalie Guilmot – Louvain School of Management</li>
                <li>Claire Gruslin – HEC Liège</li>
                <li>Jean-Pierre Baeyens – Solvay Brussels School - Economics and Management</li>
            </ul>
        </br>
        <h3 class="orange">Module « Piloter le changement et l’innovation »</h3>
        <p>Répondre aux besoins d’innovation et gérer les dynamiques de changement par une démarche-projet
            processuelle permettant de positionner les enjeux stratégiques, mobiliser les ressources adéquates,
            surmonter les réticences, générer des retombées positives.</p>
        <h4>Compétences développées</h4>
            <ul class="square">
                <li>Initier, conduire et évaluer les processus de changement</li>
                <li>Intégrer les nouveaux modes et nouvelles approches de créativité</li>
            </ul>
        <h4>Thématiques abordées</h4>
            <ul class="square">
                <li>Management du changement</li>
                <li>Créativité et Innovation</li>
                <li>Gestion de projets innovants</li>
            </ul>
        <h4>Intervenants</h4>
            <ul class="square">
                <li>Olivier Lisein – HEC Liège</li>
                <li>Frédéric Ooms – ID Campus</li>
            </ul>
        </br>
        <h3 class="orange">Module « Mesurer, analyser et décider pour créer de la valeur »</h3>
        <p>Créer de la valeur opérationnelle en donnant du sens à la donnée (analysée sous l’angle financier,
            marketing et logistique).</p>
        <h4>Compétences développées</h4>
            <ul class="square">
        <li>Connaître et comprendre son environnement</li>
        <li>Atteindre des résultats opérationnels</li>
        <li>Mettre en place les outils pratiques</li>
            </ul>
        <h4>Thématiques abordées</h4>
            <ul class="square">
                <li>Exploitation des données et techniques mathématiques</li>
                <li>Marketing et transition digitale</li>
                <li> Finance/Comptabilité analytique</li>
                <li> Logistique
            </ul>
        <h4>Intervenants</h4>
            <ul class="square">
        <li>Ashwin Ittoo – HEC Liège</li>
        <li>André Blavier – Digital Wallonia et HEC Liège</li>
        <li>Claire Gruslin – HEC Liège</li>
        <li>Eric Dekeuleneer et Yassine Boudghene – Solvay Brussels School - Economics and Management</li>
        <li>Thierry Pironet – HEC Liège</li>
            </ul>
        </br>
        <h3 class="orange">Module « Inspirer, responsabiliser et communiquer »</h3>
        <p>Développer la capacité du futur manager/leader à susciter l’envie de ses collaborateurs de coopérer
            en vue de réaliser la(les) mission(s) de l’organisation.</p>
        <h4>Compétences développées</h4>
            <ul class="square">
        <li>Motiver son entourage et construire autour de valeurs crédibles, intègres et responsables</li>
        <li>Etre un bon communiquant et gérer les crises</li>
            </ul>
        <h4>Thématiques abordées</h4>
            <ul class="square">
        <li>Leadership</li>
        <li>Responsabilité Sociétale des Entreprises</li>
        <li>Communication interpersonnelle</li>
            </ul>
        <h4>Intervenants</h4>
            <ul class="square">
        <li>Fabrice De Zanet – HEC Liège</li>
        <li>Jan Noterdaeme - Louvain School of Management</li>
        <li>Fabian Delahaut - Solvay Brussels School - Economics and Management</li>
            </ul>
        </br>
        <h3 class="orange">Module « Manœuvrer de façon systémique et prospective (Business Game) »</h3>
        <p>Mobiliser les apprentissages de manière transversale et intégrative au travers d’une immersion
            virtuelle des participants dans un environnement organisationnel concurrentiel dans lequel ils
            agissent comme des gestionnaires d’entreprise.</p>
        <h4>Compétences développées</h4>
            <ul class="square">
        <li>Développer une vision transversale, systémique et prospective de l’entreprise</li>
        <li>Mettre en œuvre une stratégie via un processus de prise de décision</li>
        <li>Mesurer l’impact des décisions prises et opérer des réajustements</li>
            </ul>
        <h4>Objectifs</h4>
            <ul class="square">
        <li>Lier, relier et mobiliser les contenus des différentes disciplines abordées dans le programme</li>
        <li>Prendre des décisions stratégiques pertinentes, cohérentes et efficaces</li>
        <li>Conduire une entreprise fictive mais réaliste à réaliser ses objectifs de production et maximiser sa
                rentabilité</li>
        <li>Prendre en compte les influences de l’environnement dans lequel celle-ci évolue</li>
            </ul>
        <h4>Intervenants</h4>
            <ul class="square">
        <li>Claire Gruslin – HEC Liège</li>
        <li>Benoît Calicis – MégaLearning (concepteur du Business Game)</li>
            </ul>
    </div>

    <!-- PIED DE PAGE -->


    <div id="scroll-to-top">
    <span>
        <a href="#page-top"><i class="fa fa-arrow-up"></i></a>
    </span>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}