{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">CVG</h2>
                <h3 style="text-align: center"></h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="description_projet">Description du projet | </a>
                    <a href="historique"> Historique</a>
                </p>
            </div>
        </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>Le <strong>Campus Virtuel en Gestion</strong> est le fruit de la collaboration étroite entre
        <a href="http://www.hec.ulg.ac.be/" target="_blank">HEC Liège</a> (ULg),
        la <a href="http://www.uclouvain.be/lsm" target="_blank">Louvain School of Management</a> (UCL) et
        <a href="http://www.solvay.edu/" target="_blank">Solvay Brussels School - Economics and Management</a> (ULB).
        Il est soutenu par le Fonds social européen.</p>

        <p>Le CVG a une double mission :</p>
            <ul>
                <li>être le centre d'expertise en e-Learning pour les trois Ecoles partenaires;</li>
                <li>organiser l'<strong>Online Executive Master in Management (OEMM)</strong>.</li>
            </ul>
        <p>Après une phase de développement et de conception des cours, la première promotion de participants à
        l’OEMM  a été lancée en 2009.</p>

        <p>En quelques chiffres, jusqu’en 2016, l’OEMM c’est :</p>
            <ul>
                <li>un programme de 60 crédits équivalant à 1800 heures de formation;</li>
                <li><strong>105 participants</strong>, répartis en <strong>5 promotions</strong>;</li>
                <li>à l’entrée en formation, 76 participants étaient détenteurs d’un Master Universitaire, 27 d’un
                Baccalauréat d’une Haute Ecole, 2 ont bénéficié d’un processus de VAE;</li>
                <li>la moyenne d’âge est de 35,7 ans et la moyenne d’années d’expérience professionnelle est de 8,2 ans;</li>
                <li>sur les 5 premières promotions, 78 participants ont obtenu un certificat, 15 une attestation
                de suivi et 12 n’ont pas terminé la formation.</li>
            </ul>
    </div>

    <div id="scroll-to-top">
    <span>
        <i class="fa fa-arrow-up"></i>
    </span>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}