{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<div id="conteneur" class="container-fluid site-text" xmlns="http://www.w3.org/1999/html">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Inscription</h2>
                <h3 style="text-align: center">Dossier de candidature</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="selection">Processus de sélection | </a>
                    <a href="cout"> Coût | </a>
                    <a href="echeances"> Echéances</a>
                </p>
            </div>
        </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>Pour entrer dans le processus de sélection, vous devez compléter le dossier de candidature. Celui-ci
        comprend :</br
            <ul>
                <li>Vos données personnelles</li>
                <li>Votre CV</li>
                <li>Vos motivations à entamer cette formation à distance en management</li>
                <li>Une copie de votre (vos) diplôme(s) ou certificat(s) pertinent(s)</li>
            </ul>
    </div>

    <div id="scroll-to-top">
    <span>
        <i class="fa fa-arrow-up"></i>
    </span>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}