{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">e-Accompagnement</h2>
                <h3 style="text-align: center"></h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="seminaires">Séminaires résidentiels</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>L’OEMM a pour objectif de vous permettre d’acquérir les connaissances et compétences nécessaires
        pour pouvoir évoluer vers des fonctions impliquant des responsabilités managériales.</p>
        <p>Si vous vous inscrivez au programme complet, plus que participer uniquement à un programme de formation,
            vous bénéficierez également d’une démarche d’accompagnement à l’évolution professionnelle individualisé
            et en ligne, uniquement.</p>
        <p>Cette démarche comporte 3 phases :</p>
            <ul>
                <li>En début de formation, un <strong class="mauve">e-assessment</strong> mené via des outils en
                    ligne et permettant:</li>
                    <ul>
                        <li>de réaliser un bilan de vos compétences;</li>
                        <li>de révéler vos prédispositions en termes d’aptitudes et de comportements en situation
                            managériale.</li>
                    </ul>
                <li>Des <strong class="mauve">entretiens online réguliers</strong> avec un accompagnateur tout au
                    long du programme de formation permettant de mener une réflexion critique sur votre projet
                    professionnelle, vos motivations, envies, forces, faiblesses, etc.</li>
                <li>En fin de formation, une réflexion de <strong class="mauve">personal branding</strong> visant
                    à vous permettre de valoriser, sur le marché du travail ou dans votre évolution de carrière,
                    les compétences acquises en formation.</li>
            </ul>
    </div>
    <!-- PIED DE PAGE -->

    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}