{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<!-- TOP OF PAGE -->

<div id="page-top"></div>

    <div class="container-fluid site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Notre équipe</h2>
                <h3 style="text-align: center">L'équipe pédagogique</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="equipe_pedagogique"> Equipe pédagogique</a>
                    <a href="comite_scientifique">Comité scientifique du programme | </a>
                    <a href="comite_pilotage"> Comité de pilotage du projet | </a>
                    <a href="equipe_projet"> Equipe du projet | </a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-offset-3">
                <h3 class="orange">Equipe pédagogique</h3>
            </div>
            <div class="col-md-3">
                <img src="{{ asset('uploads/custom/images/ooms.jpg') }}" height="200" width="auto" alt="ooms.jpg" title="Photo de Frédéric Ooms">
            </div>
            <div class="col-md-9">
                <h4 class="mauve">Frédéric Ooms</h4>
                <p style="text-align: justify">Frederic Ooms holds a PhD in Chemistry from the Facultés Universitaires Notre-Dame de la Paix. Frédéric has published several peer-reviewed articles and patents. He
                was trained at Postdam D.School in design thinking, Berkley university (Lean Launch Pad By Steve Blank) and how to use the Business Model Canvas (Paris by Alex Osterwalder).
                He holds an MBA from Solvay Business School, where he teaches different classes in entrepreneurship and design thinking. His expertise covers both sciences and business
                aspects, applied to the real world of entrepreneurship.</br>
                He is executive director at ID Campus and the coordinator of PLUG-R Liege's creative hub. ID CAMPUS helps people, companies and organization to develop their creative
                muscles to foster creative economy and design better solutions for tomorrow's world.</p>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-3">
                <img src="{{ asset('uploads/custom/images/guilmot.jpg') }}" height="200" width="135" alt="guilmot.jpg" title="Photo de Nathalie Guilmot">
            </div>
            <div class="col-md-9">
                <h4 class="mauve">Nathalie Guilmot</h4>
                <p style="text-align: justify">Nathalie Guilmot est titulaire d’un doctorat en sciences économiques et de gestion de l’Université Catholique de Louvain.</br>
                Assistante d’enseignement et de recherche au sein de la Louvain School of Management, ses activités d’enseignement portent principalement sur la stratégie d’entreprise,
                tandis que ses travaux de recherche sont orientés vers la gestion des changements organisationnels et l’évolution des rôles des managers intermédiaires.</br>
                Ses recherches ont été présentées lors de diverses conférences académiques et ont fait l’objet de plusieurs publications.  Elle est également membre du CRECIS (Center for
                Research in Entrepreneurial Change and Innovative Strategies).</p>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-3">
                <img src="{{ asset('uploads/custom/images/delahaut.jpg') }}" height="200" width="auto" alt="delahaut.jpg" title="Photo de Fabian Delahaut">
            </div>
            <div class="col-md-9">
                <h4 class="mauve">Fabian Delahaut</h4>
                <p style="text-align: justify">MBA de la Solvay Brussels School, Licencié en philosophie de l’ULB, Executive Master en Management & Philosophies, Maître Praticien en PNL, comédien formé au Cours
                Florent, chargé de cours à la Solvay Brussels School, auteur du livre «Le crime de l’orateur – Prise de parole en public : 3 secrets et 60 techniques», aux Editions De Boeck.</p>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-3">
                <img src="{{ asset('uploads/custom/images/noterdaeme.jpg') }}" height="200" width="auto" alt="noterdaeme.jpg" title="Photo de Jan Noterdaeme">
            </div>
            <div class="col-md-9">
                <h4 class="mauve">Jan Noterdaeme</h4>
                <p style="text-align: justify">Noterdaeme has a Master’s Degree in Law. He is co-author of the “Manifeste des Jeunes pour l’Europe”, and the co-founder of CSR Europe (1996), a Network of 100 corporate
                members and National Partner Organisations engaging 10.000 enterprises across Europe on Corporate Social Responsibility.</br>
                As from 1997 Jan played a leading role in the establishment by business leaders and deans and teachers of what became in 2002 the <strong>European Academy of Business in Society</strong>
                 (ABIS).</br>
                Since March 2007, he is also Maître de Conférence at the Catholic University of Louvain. where he co-founded with Professor Valérie Swaen the <strong>Louvain CSR Network</strong>.
                Since 2010, Jan is chairing the Stakeholder Jury of the <strong>Philippe de Woot International Inter-University Award on CSR</strong>. On behalf of the European C’homme’Pany Jan now also acts as Senior Advisor - External Relations for CSR Europe.</p>
            </div>
        </div>
        <div class="row" style="padding-top: 25px">
            <div class="col-md-3">
                <img src="{{ asset('uploads/custom/images/pironet.jpg') }}" alt="pironet.jpg" title="Photo de Thierry Pironet">
            </div>
            <div class="col-md-9">
                <h4 class="mauve">Thierry Pironet</h4>
                <p style="text-align: justify">Thierry Pironet is an associate professor tenured attached to the Operations Department of HEC Management School - University of Liège; more particularly, he works within the
                Research Centre in quantitative methods applied to operations management called QuantOM. His Ph. D. research stems from industrial partnerships and bears on transportation
                optimization (multi-period vehicle loading and routing with stochastic supply). Currently, he is interested in on-line quays scheduling and dynamic network design. He participates
                actively to international conferences and international research groups and is interested both in methodological aspects (operational research, algorithmics and assistance to
                decision-making) and in applied research itself (transport, logistics and supply chain management). He cooperates with foreign institutions and researchers (INRIA, France and
                CIRRELT, Canada).</br>
                His lectures focusses on supply chain management and related operations management with a focus on quantitative methods: forecasting, network design, transportation,
                production planning, storage and quality managements.</p>
        </div>
    </div>

    <!-- PIED DE PAGE -->

<div id="scroll-to-top">
    <span>
        <a href="#page-top"><i class="fa fa-arrow-up"></i></a>
    </span>
</div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}