{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div class="container-fluid site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Notre équipe</h2>
                <h3 style="text-align: center">L'équipe pédagogique</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="equipe_pedagogique"> Equipe pédagogique</a>
                    <a href="comite_scientifique">Comité scientifique du programme | </a>
                    <a href="comite_pilotage"> Comité de pilotage du projet | </a>
                    <a href="equipe_projet"> Equipe du projet | </a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>Plus d'informations dès que l'équipe sera entièrement constituée.</div>

    <!-- PIED DE PAGE -->


    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}