{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page" style="padding:15px">
            <div class="container">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Les modules</h3>
                    <p class="page-location" style="padding-top:15px; color: blue; font-weight: bold">
                        <a href="pitch"> Pitch | </a>
                        <a href="competences"> Compétences | </a>
                        <a href="thematiques"> Thématiques | </a>
                        <a href="equipe"> Equipe pédagogique | </a>
                        <a href="temoignage"> Témoignage vidéo</a>
            </div>
        </div>
    </div>

    <div class="container site-text" style="margin-top: 20px">
        <p>Le programme est composé de 5 modules de 12 crédits ECTS chacun (le cinquième module est un Business Game final), soit un total de 60 crédits ECTS étalés
            sur 2 années:</p>
        <ul>
            <li><strong>Module 1 - Conduire l’entreprise dans un monde en changement</strong>: Elaborer et développer la stratégie dans un contexte marqué par la "turbulence" : imprévisibilité,
                développement technologique incessant, globalisation, nouvelles "règles du jeu" dans tous les domaines.</li>
            <li><strong>Module 2 - Piloter le changement et l’innovation</strong>: Répondre aux besoins d’innovation et gérer les dynamiques de changement par une démarche-projet processuelle.</li>
            <li><strong>Module 3 - Mesurer, analyser et décider pour créer de la valeur</strong>: Créer de la valeur opérationnelle en donnant du sens à la donnée (analysée sous l’angle financier,
                marketing et logistique).</li>
            <li><strong>Module 4 - Inspirer, responsabiliser et communiquer</strong>: Développer la capacité du futur manager/leader à susciter l’envie de ses collaborateurs de coopérer en vue
                de réaliser la(les) mission(s) de l’organisation.</li>
            <li><strong>Module 5 - Manœuvrer de façon systémique et prospective (Business Game)</strong>: Mobiliser les apprentissages de manière transversale et intégrative au travers d’une
                immersion virtuelle des participants dans un environnement organisationnel concurrentiel dans lequel ils agissent comme des gestionnaires d’entreprise.</li>
        </ul>
    </div>

    <!-- PIED DE PAGE -->

    <div id="scroll-to-top">
    <span>
        <i class="fa fa-arrow-up"></i>
    </span>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}