{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Pédagogie</h3>
                <p class="page-location" style="padding-top:15px">
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>Les professeurs et tuteurs sont issus des 3 Ecoles partenaires et font preuve d’une expertise reconnue
        dans leur domaine.</p>
        <p>La formation est organisée <strong class="mauve">totalement à distance</strong> alternant activités, séances synchrones, travail
        individuel et collaboratif, tutorat, le tout en ligne.</p>
        <p>L’ensemble des participants est néanmoins réuni en un même endroit à 3 reprises : 2 séminaires résidentiels
        et la séance finale du Business Game.</p>
        <p>Le contenu des différents modules est constitué d’un ensemble de <strong class="mauve">ressources</strong>
        (références bibliographiques, vidéos, syllabi, etc.) et d’une succession d’<strong class="mauve">activités</strong>
        à réaliser à distance seul, en groupe ou lors des séances synchrones avec le professeur. Le tout permet au
        participant d’intégrer les concepts clés liés aux thématiques abordées, de développer les compétences qui y
        sont associées.</p>
        <p>L’<strong class="mauve">évaluation est contin</strong>ue et se fait au travers de travaux de groupe et individuels. Chaque module comporte
        également une activité intégrative et transversale.</p>
        <p>Une <strong class="mauve">plateforme e-learni</strong>ng permet de compiler les ressources, outils, références théoriques nécessaires
        pour les modules et de centraliser les échanges entre participants, professeurs, tuteurs.</p>
    </div>

    <!-- PIED DE PAGE -->

    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}