{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="conteneur" class="container-fluid site-text">
        <div id="section-id-page" style="padding:15px">
            <div class="container">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Les points forts de la formation</h3>
                <p class="page-location" style="padding-top:15px; color: blue; font-weight: bold">
                    <a href="competences">Approche par compétences | </a>
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <ul class="square">
            <li>Une formation (quasi) entièrement à distance</li>
            <li>Des modules construits et dispensés par des professeurs des 3 Ecoles de Gestion partenaires (HEC Liège,
                Solvay, LSM), experts de leur domaine</li>
            <li>Des contenus et activités pédagogiques choisis pour développer les compétences clés du manager</li>
            <li>Une démarche d’e-accompagnement à l’évolution professionnelle vers une carrière managériale</li>
            <li>Des activités intégratives en lien avec la réalité concrète des entreprises</li>
            <li>Des débats, échanges et partages centrés sur vos expériences de terrain</li>
        </ul>
    </div>

    <!-- PIED DE PAGE -->

    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}