{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div class="container-fluid site-text" style="margin: 0">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center"></h3>
                <p class="page-location orange" style="padding-top:15px">
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container site-text" style="padding-top: 30px">
        <p>L’<strong class="mauve">Online Executive Master in Management</strong> est un programme de formation
            de haut niveau à distance en management.</p>
        <p>Il est organisé grâce au soutien du Fonds social européen et proposé conjointement par</p>
            <ul class="square">
                <li><a href="http://www.hec.ulg.ac.be/" target="_blank">HEC Liège</a> - Ecole de Gestion de
                    l’Université de Liège,</li>
                <li><a href="http://www.solvay.edu/" target="_blank">Solvay Brussels School of Economics and
                        Management</a>
                    de l’Université Libre de Bruxelles,</li>
                <li><a href="http://www.uclouvain.be/lsm" target="_blank">Louvain School of Management</a> de
                    l’Université Catholique de Louvain.</li>
            </ul>
        <p>Deux alternatives sont possibles:<p>
            <ul class="square">
                <li>suivre le <strong class="mauve">programme complet</strong>, constitué de 5 modules et d’une démarche d’e-accompagnement,
                    débouchant sur un certificat reconnu par les 3 Institutions partenaires;</li>
                <li>s’inscrire aux <strong class="mauve">modules pris isolément</strong> et obtenir une attestation de réussite, ceux-ci sont
                    proposés annuellement.</li>
            </ul>
        <h3 class="orange">Approche par compétences</h3>
        <p>L’OEMM vise à développer vos compétences pour être un <strong class="mauve">« Manager de demain »</strong>,
            un chef d’orchestre qui se doit de donner la mesure...</p>
        <p>Les modules qui composent le programme ont été construits autour des compétences clés à développer
            pour évoluer vers une fonction avec des responsabilités managériales et pouvoir répondre aux enjeux
            actuels et futurs qu’elle implique.</p>
        <h3 class="orange">Atouts</h3>
        <ul class="square">
            <li>Une formation (quasi) entièrement à distance</li>
            <li>Des modules construits et dispensés par des professeurs des 3 Ecoles de Gestion partenaires (HEC Liège,
                Solvay, LSM), experts de leur domaine</li>
            <li>Des contenus et activités pédagogiques choisis pour développer les compétences clés du manager</li>
            <li>Une démarche d’e-accompagnement à l’évolution professionnelle vers une carrière managériale</li>
            <li>Des activités intégratives en lien avec la réalité concrète des entreprises</li>
            <li>Des débats, échanges et partages centrés sur vos expériences de terrain</li>
        </ul>
    </div>

    <!-- PIED DE PAGE -->

    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}