{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

    <div id="section-id-page" class="container-fluid banner site-text">
        <div id="section-id-page">
            <div class="container-fluid">
                <h2 class="nom-de-page" style="padding-top:25px; text-align: center">Programme</h2>
                <h3 style="text-align: center">Titre obtenu</h3>
                <p class="page-location" style="padding-top:15px; text-align: center">
                    <a href="contenu"> Contenu | </a>
                    <a href="pedagogie"> Pédagogie | </a>
                    <a href="titre"> Titre obtenu | </a>
                    <a href="temoignage"> Témoignages d'anciens participants</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container site-text" style="padding-top: 30px">
        <h3 class="orange">Programme complet</h3>
            <p>A l’issue de votre formation, si vous remplissez toutes les conditions de réussite, vous recevrez
                un <strong class="mauve">certificat interuniversitaire</strong> signé par les autorités de l’ULg,
                l’ULB, l’UCL.</p>
            <p>Il s’agit bien d’un certificat et non d’un diplôme de Master reconnu par la Communauté Française.</p>
        <h3 class="orange">Module pris isolément</h3>
            <p>A l’issue de votre formation, si vous remplissez toutes les conditions de réussite, vous recevrez
                une <strong class="mauve">attestation de réussite</strong> signée par la responsable scientifique
                du programme.</p>
    </div>

    <!-- PIED DE PAGE -->

    {#<div id="scroll-to-top">#}
    {#<span>#}
        {#<i class="fa fa-arrow-up"></i>#}
    {#</span>#}
    {#</div>#}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/bootstrap.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/font-awesome.min.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/topbar.css') }}"
          type="text/css"
    />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          type="text/css"
    >
    <link  rel="stylesheet"
           href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
           type="text/css"
    >
    <link rel="stylesheet"
          href="{{ asset('uploads/custom/css/cvg.css') }}"
          type="text/css"
    />
{% endblock %}